{% extends 'base.html' %}

{% block head%}
<title>Clout Confessions</title>
{% endblock %}

{% block body %}

<h1>💎 <a href="/"> CLOUT CONFESSIONS </a>💎</h1>

<!-- <p>{{data}}</p> -->

{% if not data.publicKey %}
<p><button class="button" onclick="login()">Login with DESO to post confessions</button></p>
{% endif %}

<form action="/send" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
    <textarea name="confession" cols="100" rows="20" style="max-width: 80vw; max-height: 50vh;" minlength="10" required
        placeholder="Write confession here ;)" {% if data.postBody %} {% endif
        %}>{% if data.postBody %}{{data.postBody}}{% endif %}</textarea>
    <br>
    <input type="submit" value="SEND" class="button" {% if not data.publicKey %}disabled
        style="background-color:gray;color: black; cursor: default;" {% endif %}>
</form>
<br>
<div>
    <h2>WTH is ConfessClout?</h2>
    <p>
        Often on many Discord servers I have found a channel in which users were able to send confessions anonymously
        <br><i>(any sort of message that one would not like to say publicly...kinda)</i><br><br>
        That means without disclosing the identity of the person who sent that message. <br>
        All this was done through the use of bots, the user would DM the bot <br> and the bot would send the message in
        its specific channel on the server.
        <br><br>
        Sounds fun right? <br>
        In a server that I manage on Discord, we have our own custom confession bot, <br>
        and it's really nice seeing people sharing their thoughts (both good and bad).
        <br><br>
        Many people are unable to release their thoughts and vent somewhere when needed, and end up keeping things to
        themselves, which has a negative effect on them :(
        <br><br><br>
        We have a saying in our language
    <h3><q>अपने मन की बात दूसरों को बताने से मन हल्का रहता है।</q></h3>
    Which basically means you feel much better after expressing yourself to others :)
    </p>
    <h2>How does it work?</h2>
    <p>All you need to do is Login with your deso account, type in your confession, hit send and your confession will be
        posted on <a href="https://bitclout.com/u/ConfessClout" target="_blank">@ConfessClout</a> 🚀</p>
    <p>The login is there to make sure only the people who are on DeSo can send confessions.</p>
    <p>Your public key or account details will never be stored or associated with any confession you make.</p>
</div>

{% endblock %}
